<a href="https://colab.research.google.com/github/abdullah-al-jamil/Emotion-and-Sentiment-Analysis/blob/main/emotion_GRU.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
try: 
  %tensorflow_version 2.x
except Exception:
  pass

import tensorflow as tf
keras = tf.keras

In [ ]:
import gensim, re
import numpy as np
import pandas as pd

In [ ]:
!wget https://raw.githubusercontent.com/abdullah-al-jamil/Emotion-and-Sentiment-Analysis/main/Emotion.csv -P "/content/drive/My Drive/app"

--2021-02-13 16:01:53--  https://raw.githubusercontent.com/abdullah-al-jamil/Emotion-and-Sentiment-Analysis/main/Emotion.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 389954 (381K) [text/plain]
Saving to: ‘/content/drive/My Drive/app/Emotion.csv.1’

Emotion.csv.1       100%[===================>] 380.81K  --.-KB/s    in 0.04s

2021-02-13 16:01:55 (8.33 MB/s) - ‘/content/drive/My Drive/app/Emotion.csv.1’ saved [389954/389954]

In [ ]:
df = pd.read_csv('/content/drive/My Drive/app/Emotion.csv', sep=';')
df.head(5)

     id                                               text  ... lan       domain
0  2275       Hands down. You are good. I mean smart good.  ...  EN  funny_video
1  2283                     Your are very good. keep it up  ...  EN  funny_video
2  2292  Man!! I will never get used to these videos of...  ...  EN  funny_video
3  2293                                    ডিসলাইক দেয়া 32  ...  BN  funny_video
4  2298                                     ব্যাপক বিনোদন।  ...  BN  funny_video

[5 rows x 5 columns]

In [ ]:
df1 = df[df.lan=='BN']
len(df1)

1006

In [ ]:
!wget https://raw.githubusercontent.com/abdullah-al-jamil/Emotion-and-Sentiment-Analysis/main/stop_words.txt -P "/content/drive/My Drive/app"
with open('/content/drive/My Drive/app/stop_words.txt', "r") as file1:
    stopwords = file1.read()

--2021-02-13 16:01:55--  https://raw.githubusercontent.com/abdullah-al-jamil/Emotion-and-Sentiment-Analysis/main/stop_words.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10442 (10K) [text/plain]
Saving to: ‘/content/drive/My Drive/app/stop_words.txt.1’

stop_words.txt.1    100%[===================>]  10.20K  --.-KB/s    in 0s

2021-02-13 16:01:56 (87.1 MB/s) - ‘/content/drive/My Drive/app/stop_words.txt.1’ saved [10442/10442]

In [ ]:
def pre_process(sentence):
  #remove link
  sentence = re.sub(r'https?:\/\/.*[\r\n]*', '', sentence)
  sentence = re.sub(r'[^\u0980-\u09FF ]+', '', sentence)
  words = sentence.split()
  new_sentence = ''

  for word in words:
    if word not in stopwords:
      new_sentence += (word + " ")
  return new_sentence

sentences = []
temp_sentences = df1['text']

for i in temp_sentences:
  sentences.append(pre_process(i))

df1['text'] = sentences
df1.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

      id                                               text  ... lan       domain
3   2293                                      ডিসলাইক দেয়া   ...  BN  funny_video
4   2298                                     ব্যাপক বিনোদন   ...  BN  funny_video
8   2312                    খারাপ থাকলেই ঢুকে পরি চ্যানেলে   ...  BN  funny_video
13  2421  কন্টেন্ট ক্রিয়েটর একটা প্রজেক্ট টাইম এফোর্ট এক...  ...  BN  funny_video
14  2423                                              জাতি   ...  BN  funny_video

[5 rows x 5 columns]

In [ ]:
df1['emotion'] = np.where(df1['emotion']=='anger', 'disgust',  df1['emotion'])
df1['emotion'] = np.where(df1['emotion']=='fear', 'surprise',  df1['emotion'])
df1['emotion'] = np.where(df1['emotion']=='others', 'none',  df1['emotion'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
fisible = []
for sentence in sentences:
  if len(sentence.split())<=30:
    fisible.append(1)
  else:
    fisible.append(0)

df1['fisible'] = fisible
len(df1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

1006

In [ ]:
df2 = df1[df1.fisible==1]
len(df1)

1006

In [ ]:
labels = []
for i in df2['emotion']:
  labels.append(i)

y = np.asarray(pd.get_dummies(labels))
pd.get_dummies(labels)

     disgust  joy  none  sad  surprise
0          0    0     1    0         0
1          0    1     0    0         0
2          0    0     1    0         0
3          1    0     0    0         0
4          0    0     1    0         0
..       ...  ...   ...  ...       ...
965        1    0     0    0         0
966        1    0     0    0         0
967        1    0     0    0         0
968        1    0     0    0         0
969        1    0     0    0         0

[970 rows x 5 columns]

In [ ]:
vocab_size = 1000
embedding_dim = 100
max_length = 30
trunc_type='post'
oov_tok = "<OOV>"


from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

tokenizer = Tokenizer(num_words = vocab_size, oov_token=oov_tok)
tokenizer.fit_on_texts(df2.text)
word_index = tokenizer.word_index
sequences = tokenizer.texts_to_sequences(df2.text)
padded = pad_sequences(sequences,maxlen=max_length, padding='post')

In [ ]:
model = tf.keras.Sequential([
    tf.keras.layers.Embedding(vocab_size, embedding_dim, input_length=max_length, trainable=True),
    tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(300, return_sequences=False)),
    tf.keras.layers.Dense(y.shape[1], activation='softmax')
])
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 30, 100)           100000
_________________________________________________________________
bidirectional_1 (Bidirection (None, 600)               962400
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 3005
=================================================================
Total params: 1,065,405
Trainable params: 1,065,405
Non-trainable params: 0
_________________________________________________________________

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(padded, y, test_size=0.2, shuffle=True)

In [ ]:
num_epochs = 6
history = model.fit(X_train, y_train, epochs=num_epochs, validation_data=(X_test, y_test))

Epoch 1/6
25/25 [==============================] - 10s 283ms/step - loss: 1.4598 - accuracy: 0.4592 - val_loss: 1.3026 - val_accuracy: 0.5155
Epoch 2/6
25/25 [==============================] - 6s 250ms/step - loss: 1.3298 - accuracy: 0.4825 - val_loss: 1.2518 - val_accuracy: 0.5309
Epoch 3/6
25/25 [==============================] - 6s 252ms/step - loss: 1.2409 - accuracy: 0.5343 - val_loss: 1.1538 - val_accuracy: 0.5670
Epoch 4/6
25/25 [==============================] - 6s 250ms/step - loss: 1.0110 - accuracy: 0.6149 - val_loss: 1.1252 - val_accuracy: 0.6134
Epoch 5/6
25/25 [==============================] - 6s 251ms/step - loss: 0.8601 - accuracy: 0.7273 - val_loss: 1.0364 - val_accuracy: 0.6701
Epoch 6/6
25/25 [==============================] - 6s 250ms/step - loss: 0.7326 - accuracy: 0.7401 - val_loss: 1.0770 - val_accuracy: 0.6392

In [ ]:
model.evaluate(X_test, y_test)

7/7 [==============================] - 0s 57ms/step - loss: 1.0770 - accuracy: 0.6392

[1.0770385265350342, 0.6391752362251282]

In [ ]:
pred = model.predict(X_test)

for i in range(len(pred)):
  if pred[i][0]==pred[i].max():
    pred[i][0] = 1
    pred[i][1] = 0
    pred[i][2] = 0
    pred[i][3] = 0
    pred[i][4] = 0
    
  
  elif pred[i][1]==pred[i].max():
    pred[i][0] = 0
    pred[i][1] = 1
    pred[i][2] = 0
    pred[i][3] = 0
    pred[i][4] = 0

  elif pred[i][2]==pred[i].max():
    pred[i][0] = 0
    pred[i][1] = 0
    pred[i][2] = 1
    pred[i][3] = 0
    pred[i][4] = 0
  
  elif pred[i][3]==pred[i].max():
    pred[i][0] = 0
    pred[i][1] = 0
    pred[i][2] = 0
    pred[i][3] = 1
    pred[i][4] = 0

  else:
    pred[i][0] = 0
    pred[i][1] = 0
    pred[i][2] = 0
    pred[i][3] = 0
    pred[i][4] = 1

  
pred[0]

array([0., 0., 1., 0., 0.], dtype=float32)

In [ ]:
from sklearn.metrics import f1_score
f1_score(y_test, pred, average='weighted')

0.6130187926947868

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.6391752577319587